<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>NodeJs Quiz!</h1>

<form>
    <!--right answer http module-->
    <p>Which of the following module is required to create a web server?</p>
    <input type="radio" id="url" name= "question1" value="url module">
    <label for="url">url module</label><br>
    <input type="radio" id="net" name= "question1" value="net module">
    <label for="net">net module</label><br>
    <input type="radio" id="http" name= "question1" value="http module">
    <label for="http">http module</label><br>
    <input type="radio" id="web" name= "question1" value="web module">
    <label for="web">web module</label><br>
    <input type="radio" id="node" name= "question1" value="node module">
    <label for="node">node module</label>
  
    <br>  
  
    <!--right answer path module-->
    <p>Which of the following module is required for path specific operations?</p>
    <input type="radio" id="os" name="question2" value="os module">
    <label for="os">os module</label><br>
    <input type="radio" id="operation" name="question2" value="operation module">
    <label for="operation">operation module</label><br>
    <input type="radio" id="fs" name="question2" value="fs module">
    <label for="fs">fs module</label><br>  
    <input type="radio" id="path" name="question2" value="path module">
    <label for="path">path module</label><br>
    <input type="radio" id="None" name="question2" value="None of the above">
    <label for="None">None of the above</label><br><br>
    <input type="submit" value="Submit">
</form>

    <script src="/js/app.js"></script>
    </body>
</html>