<h1>NodeJs Quiz!</h1>

<h2>Timer: {{subscribeTime}}</h2>
<!-- 
<input type="button" value="Next" [routerLink]="['page2']" (click)="togglePage1();">
<input type="button" value="Back" [routerLink]="['page1']" (click)="togglePage2();">

<router-outlet *ngIf="showPage1||showPage2"></router-outlet>

<input type="button" value="Next" [routerLink]="['page2']" (click)="togglePage1();">
<input type="button" value="Back" [routerLink]="['page1']" (click)="togglePage2();">-->

<router-outlet></router-outlet>